---
import Layout from "../layouts/Layout.astro";

const title = "Order Confirmation - Rosie";
const description = "Your order has been submitted successfully.";
const ogTitle = "Order Confirmation - Rosie";
---

<Layout
  title={title}
  description={description}
  ogTitle={ogTitle}
>
  <h1>Order Confirmation</h1>
  <p>Thank you for your order! Your order has been submitted successfully. We will process it soon.</p>
</Layout>
