---
interface Friend {
  url: string;
  image: string;
  alt: string;
}

const friends = [
] satisfies Friend[];
---

<div class="flex flex-wrap gap-2">
  {
    friends.map((f) => (
      <a href={f.url}>
        <img
          src={`/webring/${f.image}`}
          alt={f.alt}
          width="88"
          height="31"
          aria-label={f.alt}
        />
      </a>
    ))
  }
</div>
