---
import { SEO } from 'astro-seo';

// Extract props and provide default values
const { title, description, ogTitle, ogImage, url } = Astro.props;
const ogType = "website"; // Set a default type if not provided

// Ensure ogImage has a default value
const defaultOgImage = "https://yourdomain.com/default-og-image.jpg"; // Replace with your default image URL

// Ensure URL has a default value
const defaultUrl = "https://yourdomain.com"; // Replace with your default URL

---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      url={url || defaultUrl} // Use defaultUrl if url is not provided
      openGraph={{
        title: ogTitle || title,
        type: ogType,
        image: ogImage || defaultOgImage, // Use defaultOgImage if ogImage is not provided
      }}
    />
    <slot name="head" />
  </head>
  <body>
    <slot />
    <style is:global>
      html {
        min-height: 100%;
        display: flex;
        flex-direction: column;
      }

      .content {
        @apply flex min-h-screen flex-col gap-2.5 p-2.5 md:gap-5 md:p-5;
      }

      @keyframes gradient-shift {
        0% {
          background-position: 100% 50%;
        }
        40% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 0% 50%;
        }
        90% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 100% 50%;
        }
      }

      .neon {
        @apply from-[#f0f] to-[#0ff];
        background-size: 500% 100%;
        animation: gradient-shift 10s linear infinite;

        &:not(.neon-right) {
          @apply bg-gradient-to-br;
        }

        &.neon-right {
          @apply bg-gradient-to-r;
        }
      }

      .link-list {
        @apply flex flex-wrap gap-[10px];

        & li {
          & + li::before {
            content: "/";
            margin-right: 10px;
          }

          & > a {
            @apply underline;
          }
        }
      }
    </style>
  </body>
</html>
